*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Changes position of caption */
.carousel-caption {
    top: 30%;
    bottom: auto;
}

.modal1{
    width: 1320px;
    height: 300px;
    background-color:white;
    border: 1px solid black;
}
.modal2{
    width: 1320px;
    height: 300px;
    background-color:white;
    border: 1px solid black;
}
